/*-------------Portal-------------*/
$purpleEmDia: #8553DF;
$navbar-height: 50px;
/*--------------------------------*/

/*--------------Font--------------*/
$font-family: "Nunito";
/*--------------------------------*/

/*-------------Colors-------------*/
$white: #fff;
$black: #000;
$grey: #707070;
$light-grey: #999;
/*--------------------------------*/

/*-----------Typography-----------*/
$subtitleColor: $grey;
$titleColor: $black;
$textColor: $light-grey;
$buttonHeight:  1em 3.5em;
$buttonFontSize: .7rem;
$buttonPrimaryColor: $purpleEmDia;
$buttonPrimaryFontColor: $white;
$buttonSecundaryColor: $white;
$buttonSecundaryFontColor: $black;
$buttonOutlineColor: $purpleEmDia;
$buttonPrivatePersonColor: #3DB39E;
$buttonPrivatePersonFontColor: $white;
$buttonLegalEntityColor: #3D97B3;
$buttonLegalEntityFontColor: $white;
$buttonContractColor: #3DB39E;
$buttonContractFontColor: $white;
$buttonProgressColor: #32BA7C;
$buttonProgressFontColor: $white;
/*--------------------------------*/